body
  background-color: $body-background
  font-family: $helvetica

a
  color: #7e60d0

// Fluid medias
// ----------------------------------------/
img, embed, object, video
  // Responsive images (ensure images don't scale beyond their parents)
  max-width: 100%  // Part 1: Set a maxium relative to the parent
  width: auto\9    // IE7-8 need help adjusting responsive images
  height: auto     // Part 2: Scale the height according to the width, otherwise you get stretching
  vertical-align: middle
  border: 0
  -ms-interpolation-mode: bicubic


=debug
  background-color: rgba(red, .3)



%container
  +outer-container




.noticias
  &.category h1, .category
    background-color: $noticias-color
  a
    color: $noticias-color
    &:hover
      color: darken($noticias-color, 10%)
.esportes
  &.category h1, .category
    background-color: $esportes-color
  a
    color: $esportes-color
    &:hover
      color: darken($esportes-color, 10%)
.entretenimento
  &.category h1
    background-color: $entretenimento-color
  a
    color: $entretenimento-color
    &:hover
      color: darken($entretenimento-color, 10%)


%category-title
  font-size: em(15)
  text-transform: uppercase
  font-weight: $semibold
  +inline-block
  color: white
  margin: 0
  padding: em(2) em(4)
  text-shadow: none

.send-news
  .send-news-inner
    @extend %container
    margin-top: 30px
    background-color: #f0f0f0
    border-radius: 4px
    text-align: center
    font-size: 22px
    font-weight: $bold
    a
      font-weight: $regular
      +inline-block
      padding-left: 10px


footer#page-footer
  margin: 30px 0 90px 0
  #page-footer-inner
    border-top: 1px solid #eee
    padding-top: 30px
    @extend %container
    +clearfix
    color: #888

    a
      color: #888
      &:hover
        color: black

    .credits
      font-weight: $light
      font-size: em(13)

    .logo
      float: left
      margin-right: 20px
      a
        display: block
        +size(83px 28px)
        +retina-image(logo-startae, 83px 28px)
        +hide-text
        opacity: .2
        &:hover
          opacity: .7
    .copy
      float: left
      p
        margin: 0
        padding: 0
